@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Indice Atila NIsio</h1>
    <h2 class="display-6"> Modelos</h2>
   @*<p>
         <a asp-controller="Movies" asp-action="Index" class="modal-content" ><input type="submit" value="Movies" class="btn btn-primary  " /> </a>
    </p*@ 

    <hr />
   <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>Movies</h3>
          <p>
              <a asp-controller="Movies" asp-action="Index" class="modal-content" ><input type="submit" value="Movies" class="btn btn-primary  " /> </a>
          </p>
          <p>Con DB</p>
        </div>
        <div class="col-sm-4">
          <h3>Pagos</h3>
          <p>
                <a asp-controller="Pagos" asp-action="Index" class="modal-content" ><input type="submit" value="Pagos" class="btn btn-primary  " /> </a>

          </p>
          <p>Sin DB </p>
        </div>
        <div class="col-sm-4">
          <h3>Movie ADO</h3>
          <p>
                <a asp-controller="MovieADO" asp-action="Index" class="modal-content" ><input type="submit" value="MovieADO" class="btn btn-primary  " /> </a>

          </p>
          <p>
          <p>DB SQL ADO .Net</p>
        </div>
      </div>
    </div>

    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
