@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    Layout = "~/Views/Shared/_DarkLayout.cshtml";
*@
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

@section pri
{
                <p>This is Footer Index</p>
}
            
@section Scripts{
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            <p>holas</p>
        });
    </script>
}